<ul>
	<div class="card rounded border-light flex-row flex-wrap shadow p-3 mb-4 ">
		<% if user_signed_in? %>
	  	<div class="card-block d-flex">
		  	<p class="image ">
		  		<%= gravatar_image_tag(current_user.email, 
					   size: 64, alt: current_user.name) %>
		  	</p>
	    </div>
	    <div class="col">
	    	<%= render 'phrases/form' %>
	    </div>
	    <% end %>
	</div>
	    <p></p>

	<% @phrases.each do |phrase| %>
       <div class="card rounded border-light shadow p-3 mb-4 ">
	  	  <div class="card-block d-flex">
		  	<p class="image ">
		  		<%= gravatar_image_tag(phrase.user.email, 
				  :gravatar => { :size => 40 }, alt: phrase.user.name) %>
		  	</p>

	        <div class="col">
	  		  <h5 class="card-title"><%= phrase.user.name %></h5>
	  		  <h6 class="card-subtitle mb-2 text-muted">
	  		  	<%= phrase.user.username %>
	  		  	</h6>
	  	     </div>
	  	  </div>

		  	<div class="row">
		  	  <div class="col">
				<p class="card-text">
					<em><%= phrase.body %></em>
				</p>
				 <span class="row border-bottom"></span>

				<div class="row">
					<% if current_user.present? %>
						<div class="col-1">
						  <%= liked_phrase phrase %>
						</div>
						<div class="col-4">
							<%= render 'phrases/likes', phrase: phrase %>
						</div>
						<div class="col-auto">
						</div>
					<% end %>

					<div class="col-2"></div>

					<div class="col-auto justify-content-end">
					<% unless current_user.blank? %>
						<% if phrase.user.id == current_user.id %>
						  <div class="col-auto">
							<%= link_to "", phrase_path(phrase), 
							class: "fa fa-eye mr-2 ph-icon" %>
							<%= link_to "", edit_phrase_path(phrase), 
							class: "fa fa-pencil-square-o mr-2 ph-icon" %>
							<%= link_to "", phrase_path(phrase), method: :delete, 
								data: { confirm: "Are you sure?" }, 
								class: "fa fa-trash ph-icon" %>
						  </div>
						<% end %>
					<% end %>
				</div>

				</div>
				<span class="row border-bottom"></span>
			  </div>
			</div>


			<div class="card-block bg-light rounded-pill">
			  <div class="row">	
			  <div class="col-6 ml-2">
			  	<% if phrase.comments %>
			  		<% phrase.comments.each do |comment| %>
			  		  <h6 class="card-title">
			  			<%= comment.user.username %>
			  		  </h6>
			  		  <div class="card-text font-weight-lighter">
			  			<%= comment.content %>
			  		  </div>
			  		  <% if comment.user == current_user %>
			  		  	<%= link_to "", phrase_comment_path(phrase, comment),
			  		  	  	method: :delete, data: { confirm: "Are you sure? " },
			  		  	  	class: "fa fa-close" %>
			  		  <% end %>
			  		<% end %>
			  	<% end %>
			  </div>
			  </div>
			</div>


			<div class="form">
				<div class="card-block d-flex">	
				  <div class="col-10">	
				  	<%= form_for( [phrase, phrase.comments.new], remote: true) do |f| %>
						<%= f.text_field :content, class: "form-control form-control-lg", 
		   					placeholder: "Add a comment...", autofocus: true %>
		   		  </div>
		   		  <div class="col-auto">
						<%= f.submit "Submit", class: "btn btn-outline-primary mr-2" %>
					<% end %>
				  </div>
				</div>
			</div>

		</div>
	<% end %>
</ul>	
