<div class="card rounded border-light shadow p-3 mb-5">	
	<h5 class="card-header text-center">Who to Follow</h5>
	<p></p>
  
  	<% @users.each do |user| %>
  	  <% if user != current_user %>
	    
	      <ul class="list-group list-group-flush">
	      	<li class="card-block d-flex list-group-item mb-2 pb-0">
	    	<p class="image mr-2">
	    	<%= gravatar_image_tag(user.email, :gravatar => { :size => 40 },
								   alt: user.name) %>
			</p>
			<p>
			<strong><%= user.name %></strong><br />
			<small><%= user.username %></small><br />

            <% if current_user_is_following(current_user.id, user.id) %>
              <%= link_to 'Following', unfollow_user_path, remote: true,
                class: 'btn unfollow-button btn-outline-primary', id: 'follow-button', 
                method: :post %>
            <% else %>
              <%= link_to 'Follow', follow_user_path, remote: true,
                class: 'btn follow-button btn-outline-primary', id: 'unfollow-button', 
                method: :post %>
            <% end %>
			
		</li>

		</ul>
	  <% end %>
    <% end %>
 
</div>
