<%= render 'shared/page_title', title: "search results" %>

    <% @results.each do |result| %>  
	    <div class="card-block w-50 d-flex mx-auto justify-content-between">
			<div class="row">

		  	<p class="image">
		  		<%= gravatar_image_tag(result.email, 
						  size: 64, alt: result.name) %>
		  	</p>
	      <div class="col">
	        <p></p>
	        <h5 class="card-title"><%= result.name %></h5>
	        <h6 class="card-subtitle mb-2 text-muted"><%= link_to result.username, user_path(result) %></h6>
	      </div>
	    </div>
	    <div class="col-2">
	    <%= link_to 'Following', unfollow_user_path(result), remote: true,
	        class: 'btn unfollow-button btn-outline-primary', id: 'follow-button', 
	        method: :post %>
	    </div>
	   	</div> 
    <% end %>